<html>
<div class="container">
  <div class="jumbotron">
    <h1 class="titleh1"> Labels</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>

        <form id="addLabel" action="/labels" method="POST">
          <div class="form-group">
            <input type="name" class="form-control" name="label_name" placeholder="Label Name"><br>
            <input type="name" class="form-control" name="HQ_city" placeholder="Headquarter's City"><br>
          </div>

            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        <br>
        <br>



        <div class='container'>
              <table class="table table-dark">
                <thead>
                    <th>Label Name</th>
                    <th>HQ City</th>
                </thead>
                <tbody>
                  {{#each labels}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{HQ_city}}</td>
                        <td><button class="btn btn-danger btn-lg stretch" onclick="deleteLabel({{id}})">Delete</button></td>
                        <td><a href="/labels/{{id}}" class="btn btn-primary btn-lg active stretch" tabindex="-1" role="button" aria-disabled="true">Update</a></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>


</html>
